# .clang-format
BasedOnStyle: GNU
IndentWidth: 2
TabWidth: 2
UseTab: Never
# BreakBeforeBraces: None
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 80
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
# AlignAfterOpenBracket: BlockIndent
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignOperands: true
ReflowComments: Never
SortIncludes: false
IncludeBlocks: Preserve
KeepEmptyLinesAtTheStartOfBlocks: true
CommentPragmas: "^ *[*/]+"
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBinaryOperators: None
# BreakBeforeTernaryOperators: false
KeepMacroWhitespace: true
AlignEscapedNewlines: DontAlign
# SpacesInConditionalStatement: true
SpacesInParens: Never
AllowShortLoopsOnASingleLine: true
