#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config INPUT_PICOCALC_KBD
  bool "PicoCalc Keyboard Input Driver"
  default y
  select INPUT_KEYBOARD
	---help---
		PicoCalc keyboard driver

config INPUT_PICOCALC_KBD_BUFFSIZE
	int "sim keyboard buffer size"
	default 64
	depends on INPUT_PICOCALC_KBD
	---help---
		PicoCalc keyboard buffer size

if ARCH_BOARD_PICOCALC


endif
